* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
	@apply border-[0.5px] border-gray-500 min-w-[90px];
}

.cell-head {
	@apply bg-gray-800 text-white;
}