* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
	@apply border-[0.5px] border-gray-500 min-w-[90px] relative;
}

.input-cell {
	position: relative;
}

.cell-head {
	@apply bg-gray-300 sticky z-[3];
}

.resize-handler {
	position: absolute;
	height: 25px;
	right: 0;
	display: none;
	top: 0;
	cursor: e-resize;
	width: 1px;
	background-color: #059bf1;
}

.head-top:hover > .resize-handler {
	display: block;
}

.cell-highlighted {
	border: 3px solid blue;
}

.functions-list {
	position: absolute;
	width: 90px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 4px;
	top: 26px;
	z-index: 2;
}

.functions-item {
	padding: 2px;
	cursor: pointer;
}

.functions-item:hover {
	background-color: rgb(141, 150, 166);
	color: white;
}